#!/bin/bash
CHROOT="./rootfs"
mount --bind /dev     ${CHROOT}/dev
mount --bind /dev/pts ${CHROOT}/dev/pts
mount --bind /dev/shm ${CHROOT}/dev/shm
mount --bind /sys     ${CHROOT}/sys
mount --bind /proc    ${CHROOT}/proc
mount --bind /run     ${CHROOT}/run

